<style>
.product-image-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    item-align:center;
}
</style>

<div class="pure-u-1-2 {% if template == 'index' %}pure-u-md-1-5{% else %}pure-u-md-1-4{% endif %} product-item">
    <div class="product-item__wrapper" style="padding:10px 15px">
        <a href="{{ product.url | within: collection }}" class="product-image-wrapper" style="height:200px;overflow:hidden;">
            <img class="product-main-image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" style="width:auto;max-width:100%;">
        </a>
        <h2 class="product-item__title" style="font-size: 14px;line-height: 1.1;margin-top:4px;margin-bottom:8px;height:50px;">
            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </h2>
        <span class="product-stock" style="height: 40px;float: left;width: 100%;text-align: center;">
        {% if product.first_available_variant.inventory_quantity>0%}
                         In Stocks: 
                         {%if product.first_available_variant.inventory_quantity >10 %}10+
                         {%else%}
                        {{ product.first_available_variant.inventory_quantity }}
                        {% endif %}
                          {% else %}
                          Out Of Stock
                        {% endif %}
        
        </span>
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}" style="display:none"></span>
        <div class="product-item__price-list" style="font-size: 14px;">
            {{ product.price | money }}
        </div>
    </div>
</div>